@import './variables/variables';
@import 'react-quill/dist/quill.snow.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  margin: 0;
  font-size: 62.5%;
  font-family: 'Fira Mono', monospace;
}

@import './components/components';
@import './pages/pages';
