.nav__options {
  & > ul {
    display: flex;
    list-style: none;
    gap: 0.5rem;
    padding-left: 0rem;
    margin: 0rem;
    & > li {
      font-size: 0.8rem;
      cursor: pointer;
      font-weight: 500;
      color: #202124;
      padding: 0.2rem 0.4rem 0.2rem 0.4rem;
      &:hover {
        background-color: #e8ebee;
      }
    }
  }
}
